<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- <div id="coverPage">
        <header id="header">
            <div class="inner">
                <h1>Vanilla MeetUp</h1>
                <h2>To meet new People!</h2>
                <a href="#" class="startButton">
                    <span>Get Started</span>
                </a>
            </div>
            <a href="#" class="hiddenButton">
                <span><i class="fas fa-home"></i></span>
            </a>
        </header>
         -->
    <header>
        <div class="title">
            <span><a id="page-reload" href="#floatingPannel">Vanilla-MeetUp</a></span>
            <ul class="navi-cover">
                <li><a href="#floatingPannel">LookUp</a></li>
                <li><a href="#floatingMap">MapUp</a></li>
                <li><a href="#floatingPickUp">PickUp</a></li>
            </ul>
        </div>
        <!-- lookup -->
        <div id="floatingPannel" class="lookUp">
            <form class="popUp">
                <label for="city">City name</label>
                <input id="city" type="text" value="" placeholder="City, Country or City" />
                <label for="topic">Topic</label>
                <input id="topic" type="text" value="" placeholder="your interest" />
                <label for="radius">Radius</label>
                <input id="radius" type="text" value="" placeholder="miles" />
                <input id="submit" type="submit" value="Search" />
                <a class="close" href="#">&times;</a> 
            </form>
        </div>
        <!-- mapUp -->
        <div id="floatingMap" class="mapUp">
            <div class="mapCover">
                <div id="map"></div>
                <a class="close" href="#">&times;</a> 
            </div>
        </div>
    </header>
    <div id="searchPage">
        <!-- loader -->
        <div class="loading hide">
            <div>
                <img class="logo" src="./assets/images/logo.svg" />
            </div>
        </div>
        <!-- LookUp list -->
        <div id="listCover">
        </div>
        <!-- pickUp -->
        <div id="floatingPickUp" class="pickUp">
            <div id="favoriteDisplay">
                <i class="fas fa-heart"></i>
            </div>
            <div id="favoriteCover" class="hide"></div>
        </div>
    </div>
    <footer id="footer">
        <a href="#" class="fa fa-info-circle">
            <span>About</span>
        </a>
    </footer>
    </div>
    <div id="scrollUp"><img src="" alt="">ScrollUp</div>
    <script>
        let map;
        let markers = [];
        let seoul;

        function initMap () {
            seoul = {lat: 37.555, lng: 126.99};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: seoul
            });

            const defaultMarker = new google.maps.Marker({
                position: seoul,
                map: map
            });

            markers.push(defaultMarker);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqD3tSq5D11ulUWtNgN97OZJ6DYg150mo&libraries=places&region=ES&callback=initMap" async defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
</body>
</html>