<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="mapContainer">
        <div class="mapTitle">Vanilla-MeetUP</div>
        <div class="mapCover">
            <div id="map"></div>
            <div id="listCover"></div>
            <div id="favourity">
                <!-- 10개 -->
            </div>
        </div>
    </div>

    <div class="content"></div>

    <div id="scrollUp"><img src="" alt="">디폴트</div>
    <script>
        let map;
        function initMap () {
            let seoul = {lat: 37.555, lng: 126.99};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: seoul
            });

            let defaultmarker = new google.maps.Marker({
                position: seoul,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqD3tSq5D11ulUWtNgN97OZJ6DYg150mo&callback=initMap" async defer></script>
</body>
</html>
