<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <!-- loader -->
        <div class="loading hide">
            <div>
                <img class="logo" src="./assets/images/logo.svg" />
            </div>
        </div>
        <div class="title">
            <span><a id="page-reload" href="#floatingPannel">Vanilla-MeetUp</a></span>
            <ul class="navi-cover">
                <li><a id="lookUpButton" href="#floatingPannel">LookUp</a></li>
                <li><a id="mapUpButton" href="#floatingMap">MapUp</a></li>
                <li><a id="pickUpButton" href="#floatingMap">PickUp</a></li>
            </ul>
        </div>
        <!-- list -->
        <div id="listCover" class="hide"></div>
        <!-- lookup -->
        <div id="floatingPannel" class="lookUp">
            <form class="popUp">
                <label for="city">City</label>
                <input id="city" type="text" value="" placeholder="City name" />
                <label for="topic">Topic</label>
                <input id="topic" type="text" value="" placeholder="your interest" />
                <label for="radius">Radius</label>
                <input id="radius" type="text" value="" placeholder="miles" />
                <input id="submit" type="submit" value="Search" />
                <a class="close" href="#">&times;</a> 
            </form>
        </div>
        <!-- mapUp -->
        <div id="floatingMap" class="mapUp">
            <div class="mapCover">
                <div id="map"></div>
                <a class="close" href="#">&times;</a> 
            </div>
        </div>
    </header>
    <script>
        let map;
        let markers = [];
        let newYork;

        function initMap () {
            newYork = {lat: 40.7127753, lng: -74.0059728};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: newYork
            });

            const defaultMarker = new google.maps.Marker({
                position: newYork,
                map: map
            });

            markers.push(defaultMarker);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqD3tSq5D11ulUWtNgN97OZJ6DYg150mo&libraries=places&region=ES&callback=initMap" async defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
</body>
</html>
